* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Arial", helvetica, sans-serif;
}

.top-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 0 20px;
}

.top-nav li {
  display: inline;
}

.main-nav-links li {
  display: inline;
  margin-right: 15px;
}

.footer-bottom span {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.main-nav-right-content i {
  font-size: 1.6rem;
  color: rgb(189, 189, 189);
}

.main-nav-right-content i,
.main-nav-right-content img,
.main-nav-right-content p {
  margin-right: 20px;
}

.section-heading i {
  font-size: 1.8rem;
  line-height: 3.1rem;
}

.card-middle-section i {
  margin-right: 10px;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgb(46, 46, 46);
}

.more-popular-topics li {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.footer-top i {
  background-color: rgb(63, 63, 63);
  font-size: 1.8rem;
  color: #fff;
  padding: 10px 13px;
  border-radius: 100%;
}

.cover ul li,
.cover ul li i,
.cover ul li time {
  font-size: 1.5rem;
  font-weight: 300;
}

.cover ul li {
  display: inline-block;
}

.top-nav li:not(:last-of-type) {
  margin-right: 15px;
}

.top-nav a.active {
  color: #fff;
}

.top-nav a {
  color: rgb(190, 189, 189);
  text-decoration: none;
  font-size: 1.3rem;
  line-height: 3.2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.main-nav-links a {
  font-size: 1.2rem;
  line-height: 2.5rem;
  text-decoration: none;
  color: rgb(170, 170, 170);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.confrence-band a {
  text-decoration: none;
  color: rgb(46, 46, 46);
  font-size: 1.3rem;
}

.hero-right-img-1 a,
.hero-right-img-2 a {
  font-size: 2.8rem;
  color: #fff;
  text-decoration: none;
}

.section-heading a {
  font-size: 2.8rem;
  line-height: 3.1rem;
  font-weight: 700;
  color: #f8533a;
  text-decoration: none;
}

.links a {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;
  color: #f8533a;
}

.card-middle-section a {
  text-decoration: none;
  color: #777;
  font-size: 1.4rem;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
  font-weight: 300;
}

.most-popular-author,
.most-popular-author a {
  text-decoration: none;
  color: #888;
}

.footer-links a {
  color: rgb(209, 209, 209);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
}

.latest-item h4 > a {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: rgb(46, 46, 46);
}

.latest-item h5 > a {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  text-decoration: none;
  color: #777;
}

.category-most-popular-bg h4 > a {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.more-popular-topics li a {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  color: #888;
  text-decoration: none;
}

.main-nav-links a:hover {
  color: rgb(46, 46, 46);
}

.section-heading a:hover {
  color: rgb(46, 46, 46);
}

.links a:hover {
  color: rgb(46, 46, 46);
}

.most-popular-author a:hover {
  color: #ccc;
}

.footer-links a:not(:last-of-type) {
  margin-right: 1.8%;
}

.top-nav li a:hover {
  color: #fff;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  background-color: #fdfdfd;
}

.tnw-logo-cover {
  background: #f42 linear-gradient(to bottom right, #c09, #f42 85%);
  height: 48px;
  padding: 16px 20px;
  width: 106px;
  display: none;
}

.tnw-logo {
  width: 100%;
}

.main-nav-right-content {
  display: flex;
  align-items: center;
}

.hideable {
  display: flex;
  align-items: center;
}

.search-icon,
.menu-bar {
  border-left: 1px solid lightgray;
  padding-left: 15px;
}

.menu-bar {
  display: none;
}

.main-nav-right-content img {
  width: 100%;
  max-width: 110px;
}

.cover ul li i {
  margin-left: 5px;
}

.main-nav-right-content .search-icon i {
  transform: rotate(-270deg);
}

.main-nav-right-content p,
.main-nav-right-content p strong {
  font-size: 1.3rem;
  text-transform: uppercase;
}

.card-bottom-section span {
  color: rgb(158, 158, 158);
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.main-nav-right-content p span {
  font-size: 2rem;
  text-transform: uppercase;
  color: #f8533a;
  margin-left: 5px;
}

.main-nav-btn {
  padding: 10px 12px;
  font-size: 1.1rem;
  border: none;
  border-radius: 4px;
  background-color: #0cc;
  color: white;
  text-transform: uppercase;
}

.main-nav-btn:hover {
  background-color: #90c;
}

.confrence-band {
  height: 40px;
  background-color: #fbdd34;
  padding: 15px 20px;
}

.main-top-grid {
  width: 100%;
  padding: 6px 8px;
  height: 60vh;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  grid-template-areas:
    "big-image big-image  right-image-top"
    "big-image big-image  right-image-bottom";
  height: 100%;
}

.hero-grid-left-img {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/revenue-saas-gq-796x417.png");
  background-repeat: no-repeat;
  grid-area: big-image;
  width: 100%;
  background-size: cover;
  background-position: 50%;
}

.cover {
  background-image:
    linear-gradient(
      to right bottom,
      rgba(248, 28, 76, 0.8),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    );
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}

.head-content {
  font-size: 5.5rem;
}

.cover-logo {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/tnw.svg");
  background-repeat: no-repeat;
  height: 10%;
}

.cover ul {
  list-style: none;
}

.cover ul li .share {
  font-weight: 900;
}

.hero-right-img-1 {
  grid-area: right-image-top;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/cc_series_empty-1200x628.jpg");
  background-size: cover;
}

.hero-right-img-1,
.hero-right-img-2 {
  display: flex;
  align-items: flex-end;
  padding: 20px;
}

.hero-right-img-2 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/2-11-796x417.jpg");
  background-size: cover;
  grid-area: right-image-bottom;
}

.article-section {
  max-width: 1192px;
  width: 100%;
  padding: 0 20px;
  margin: 70px auto;
}

.section-heading {
  margin-bottom: 20px;
}

.latest {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: auto;
}

.latest-item {
  width: 100%;
}

.latest-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.latest-item h4 {
  vertical-align: baseline;
  margin-right: 50px;
}

.latest-item h4 > a:hover {
  color: #f8533a;
}

.latest-item h5 > a:hover {
  color: #555;
}

.article-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-section-header .links {
  list-style: none;
  display: flex;
  align-items: center;
}

.links a.after-divider::after {
  content: "|";
  margin: 0 10px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
}

.article-header {
  background-color: #fdedea;
  text-align: center;
  position: relative;
}

.head {
  text-align: left;
  background-color: #f54424;
  padding: 15px 20% 15px 78px;
}

.article-header h3 {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: whitesmoke;
}

.article-info {
  padding: 15px 21% 15px 78px;
  text-align: left;
}

.article-info h4 {
  font-size: 1.8rem;
  color: rgb(46, 46, 46);
}

.article-info h5 {
  font-size: 1.2rem;
  font-weight: 300;
  color: #777;
  text-transform: uppercase;
}

.article-header img {
  width: 100%;
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  margin: 10.6666666667px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.card-middle-section {
  padding: 15px 10px;
  background-color: #fffaf8;
  border-bottom: 0.5px solid #f54424;
}

.card-bottom-section {
  padding: 15px 10px;
  background-color: #fffaf8;
}

.card-bottom-section p {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #777;
}

.article-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.category-latest {
  display: flex;
}

.most-popular-bg1 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/04/TikTok-Court-368x276.jpg");
}

.most-popular-bg2 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/06/header-image-laptop-case-that-turns-into-a-stand-368x276.png");
}

.most-popular-bg3 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/05/timecrystals-368x276.jpg");
}

.most-popular-bg4 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/04/TikTok-Court-368x276.jpg");
}

.most-popular-bg5 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/04/TikTok-Court-368x276.jpg");
}

.most-popular-bg6 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/04/TikTok-Court-368x276.jpg");
}

.most-popular-bg7 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/04/TikTok-Court-368x276.jpg");
}

.most-popular-bg8 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/04/TikTok-Court-368x276.jpg");
}

.category-most-popular {
  height: 276px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: flex-end;
  padding: 0 14px 14px;
}

.most-popular-subtitle {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  color: #fff;
}

.category-most-popular-bg h4 > a:hover {
  text-decoration: underline;
}

.category-latest img {
  width: 96px;
  height: 96px;
}

.category-latest-top {
  background-color: rgba(255, 68, 34, 0.06);
  padding: 12px;
}

.category-latest-top h5 {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  color: #f54424;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.category-latest-top h4 {
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  color: #f54424;
}

.more-popular-topics {
  margin-bottom: 35px;
}

.more-popular-topics li a:hover {
  color: #555;
}

footer {
  text-align: center;
  color: rgb(209, 209, 209);
}

.footer-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #141414;
  padding: 20px;
  height: 160px;
}

.footer-top i:not(:last-of-type) {
  margin-right: 1.8%;
}

.social-icons {
  margin-bottom: 30px;
}

.footer-bottom {
  background-color: #000;
  height: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom img {
  height: 9px;
  margin-right: 2px;
}

.footer-bottom b {
  color: #f54424;
}

@media only screen and (max-width: 768px) {
  .top-nav,
  .main-nav-links,
  .main-nav-right-content {
    display: none;
  }

  .main-nav {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fdfdfd;
    display: flex;
    justify-content: space-between;
  }

  .confrence-band {
    position: fixed;
    width: 100%;
    margin-top: -50px;
    text-align: center;
    padding: 20px 0 40px;
  }

  .tnw-logo-cover {
    background: #f42 linear-gradient(to bottom right, #c09, #f42 85%);
    display: block;
    height: 48px;
    padding: 16px 20px;
    width: 106px;
    position: absolute;
    left: 0;
  }

  main {
    margin-top: 100px;
  }

  .hero-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 8px;
    grid-template-areas:
      "big-image"
      "right-image-top"
      "right-image-bottom";
    height: 100%;
  }

  .head-content,
  .hero-right-img-1 a,
  .hero-right-img-2 a {
    font-size: 2.2rem;
  }

  .main-top-grid {
    min-height: 80vh;
  }

  .latest {
    display: flex;
    flex-direction: column;
  }

  .latest-item {
    display: flex;
  }

  .latest-item h4 a {
    font-size: 1.4rem;
  }

  .latest-item h5 {
    margin-bottom: 10px;
  }

  .latest-item h5 a {
    font-size: 1.2rem;
  }

  .latest-item img {
    width: 90px;
    min-height: 72px;
    margin-right: 20px;
  }

  .articles {
    display: flex;
    flex-direction: column;
  }

  .article-card.last-card {
    display: none;
  }

  .article-section-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .head h3 {
    font-size: 1.8rem;
  }

  .article-info {
    padding-right: 20%;
    padding-left: 78px;
  }

  .section-heading {
    margin-bottom: 10px;
  }

  .article-section-header .links {
    flex-direction: column;
    align-items: flex-start;
  }

  .article-header {
    z-index: -1;
  }

  .article-section-header .links li {
    margin-bottom: 10px;
  }

  .links a.after-divider::after {
    content: "";
  }

  .footer-bottom {
    flex-direction: column;
  }

  .article-categories {
    display: block;
  }

  .category-latest-top {
    width: 100%;
  }
}

@media only screen and (max-width: 865px) {
  .top-nav-right-links {
    display: none;
  }

  .main-nav-links-last a {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .articles {
    grid-template-columns: repeat(3, 1fr);
  }

  .article-card.last-card {
    display: none;
  }

  .article-section-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .section-heading {
    margin-bottom: 10px;
  }

  .article-categories {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media only screen and (max-width: 1330px) {
  .hideable {
    display: none;
  }
}
