* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Arial", helvetica, sans-serif;
}

.top-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 0 20px;
}

.top-nav ul li {
  display: inline;
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 600;
  color: #575;
  padding-right: 15px;
}

.top-nav ul li a {
  color: #777;
  text-decoration: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  border-color: #eee;
  padding: 15px 25px;
}

.main-nav-links li {
  display: inline;
  margin-right: 15px;
}

.main-nav-links li a {
  font-size: 1.2rem;
  line-height: 2.5rem;
  text-decoration: none;
  color: rgb(170, 170, 170);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.main-nav-right-content {
  display: flex;
  padding: 0 20px;
}

.main-nav-right-content img {
  max-width: 110px;
  max-height: 20px;
}

.main-nav-right-content i,
.main-nav-right-content img,
.main-nav-right-content p,
.main-nav-right-content button {
  margin-right: 20px;
}
